<h1>Artists</h1>

<div class="ui link cards">
  <% @users.each do |user| %>
  <div class="card">
    <div class="image">
      <%= image_tag user.user_img_url, :class => "grid_image" %>
  </div>
  <div class="content">
    <div class="header"><%= link_to user.name, user_path(user) %></div>
  </div>
</div>
<% end %>
</div>
