<h1><%= @category.medium %></h1>
<h4><%= pluralize(@category.posts.count, "work") %></h2>
  <% @category.posts.each do |cat| %>
  <div class="gallery">
  <%= image_tag cat.post_img_url, :class => "grid_image" %>
  <div class="desc"><%= link_to cat.title, post_path(cat) %></div>
  </div>
  <% end %>
